<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Freilernwerk</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap" rel="stylesheet"> 
</head>
<body>
  <header class="container">
    <a href="/">Freilernwerk</a>
    <nav class="navigation">
        <ul>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="pages/contact.html">Kontakt</a>
          </li>
        </ul>
      </nav>
  </header>

  <main>
    {{ content}}
  </main>
<footer>
    <div class="container">
      Wir freuen uns auf euch und auf ein neues WIR!
    </div>
  </footer>
</body>
</html>