<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Freilernwerk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="content">
      <section class="banner">
        <div class="container">
          <a href="/">
            <img class="banner__image" src="/assets/images/banner.png" alt="" />
          </a>
        </div>
      </section>
      <main>
        {% if container == true %}
        <div class="container">
          {% endif %}
          {{ content }}
          {% if container == true %}
        </div>
        {% endif %}
      </main>
    </div>

    <footer>
      <div class="container">
        <h2>Kontakt</h2>
        <p>
          Interessiert ihr euch für das freilernwerk?<br />
          Dann meldet euch gerne bei uns:
        </p>
        <ul class="list">
          <li>
            Adrian Theilkäs:
            <a href="mailto:atheilkaes@yahoo.com">atheilkaes@yahoo.com</a>
          </li>
          <li>
            Severin Erni:
            <a href="mailto:severin.erni@bluewin.ch">severin.erni@bluewin.ch</a>
          </li>
          <li>
            Anaïs Guillez:
            <a href="mailto:anais.guillez@gmail.com">anais.guillez@gmail.com</a>
          </li>
          <li>
            Jakob Surbeck:
            <a href="mailto:info@jakobsurbeck.ch">info@jakobsurbeck.ch</a>
          </li>
        </ul>

        <p>
          <span>__</span><br />
          Mit ♥ von <a href="https://www.ljomi.ch">Ingvi</a> gemacht
        </p>
      </div>
    </footer>
  </body>
</html>
