---
title: Welcome to the Blog
layout: layout.liquid
pagination:
  data: collections.angebot
  size: 10
  alias: angebot
---

<section class="section-intro">
  <div class="container">
    <h2>
      für Jugendliche ab 12 Jahren Start ab August 2021 in der Region Bern 1
      oder 2 Tage / Woche NEU: Infoabend am 12. August
    </h2>
  </div>
</section>

<section class="container">
  <h2>Das freilernwerk</h2>
  <p>
    Das freilernwerk ergänzt deinen Weg der selbstgestalteten Bildung zu Hause.
    Es ist ein Treffpunkt für Freilernende, die sich mit Gleichgesinnten
    vernetzen und gemeinsam Projekte verwirklichen wollen und die Verantwortung
    für ihr Lernen selbst übernehmen.
  </p>
  <p>
    Du bringst Offenheit für Gemeinschaft, deine Ziele sowie die dazu benötigten
    Materialien mit. Du führst ein Tagebuch, in welchem du dein Wirken
    dokumentierst. Gerne unterstützen und inspirieren wir dich auf deinem Weg.
  </p>
  <p>
    Wir pflegen den Kontakt mit den Familien und sind mit andern bestehenden
    Bildungsprojekten und Betrieben vernetzt. Wir sind ein Pionierprojekt. Es
    darf sich mit uns allen entwickeln.
  </p>
  <p>
    Das freilernwerk ist ein Freizeitangebot für Homeschoolende. Die
    Verantwortung für die Bildung liegt bei der Familie. Den Begriff
    „freilernen“ verstehen wir in einem selbstverantwortlichen Sinne und er
    schliesst das Volksschulgesetz (VSG) des Kantons Bern sowie die Einhaltung
    des Lehrplans 21 mit ein.
  </p>
</section>

<section class="container">
  <h2>Unsere Ausrichtung</h2>
  <ul>
    <li>Eigenständiges und vernetzendes Denken</li>
    <li>Lernen durch freien Willen und Sinn</li>
    <li>Frieden, Gewaltlosigkeit, Menschenrechte</li>
    <li>Selbst tun, lokal aktiv werden</li>
    <li>Persönlichkeitsentwicklung, Konfliktfähigkeit</li>
    <li>Das Bewahren der Einzigartigkeit und Neugierde</li>
    <li>Mit sich selbst und andern wertschätzend in Beziehung sein</li>
    <li>Lebensfreude</li>
    <li>Natur kennen, erleben und bewahren</li>
    <li>Gesund leben - körperlich, emotional, mental, spirituell</li>
    <li>
      Fördern und pflegender analogen und sinnlichen Welt Freude am Wirtschaften
    </li>
  </ul>
</section>

<section class="section section--large section--soft">
  <div class="container container--large">
    <h2>Angeboten</h2>
    <div class="grid-columns-three">
      {% for a in angebot %}
      <article>
        <img
          class="teaser__image"
          src="assets/images/{{ a.data.cover }}"
          alt=""
        />
        <h2>{{ a.data.title }}</h2>
        <p>{{ a.data.summary }}</p>
        <a href="{{ a.url }}">Mehr Details</a>
      </article>
      {% endfor %}
    </div>
  </div>
</section>

<section class="container">
  <h2>Team</h2>
  <article class="mentor">
    <img
      class="mentor__image"
      src="assets/images/severin.png"
      alt="Severin schaut in der Kamera"
    />
    <div>
      <h2>Severin Erni</h2>
      <blockquote>
        Freilernen bedeutet für mich das Lernen, das ich selbst wähle. Es ist
        der Geist der Neugierde, des Entdeckens und schöpferischen Tuns bis hin
        zur meisterhaften Vertiefung und Verinnerlichung. Bei jedem Menschen,
        den ich treffe, in jeder Situation in die ich gelange, stelle ich mir
        die Frage: Was kann ich lernen? Umgekehrt bedeutet das, dass die Welt
        auch von mir wissen möchte, was ich bereit bin zu geben, wie ich mit
        meinem einzigartigen Wesen dienen kann. - In diesem Spirit begleite ich
        junge Menschen auf ihrem Lebensweg.
      </blockquote>
      <ul>
        <li>lic.phil.nat Geograf und Lehrer</li>
        <li>(Patent 1.-9. Schuljahr)</li>
        <li>Vater von drei freilernenden Kindern / Jugendlichen</li>
        <li>Begleitung freilernender Familien</li>
        <li>
          Freiberufliche Tätigkeit im Naturschutz, als Exkursionsleiter und in
          der Umweltbildung
        </li>
        <li>Musiker in verschiedenen Bands</li>
        <li>Gemeinschaftsbildung, Initiationsarbeit</li>
        <li>Reisen</li>
      </ul>
    </div>
  </article>
  <article class="mentor">
    <img
      class="mentor__image"
      src="assets/images/adrian.png"
      alt="Adrian schaut in der Kamera"
    />
    <div>
      <h2>Adrian Theilkaes</h2>
      <blockquote>
        Nach fast 20 Jahren Unterrichtstätigkeit an verschiedenen kantonalen
        Schulen, brenne ich dafür, die Bildung junger Menschen ganzheitlicher,
        ergebnisoffener und vor allem individueller und menschlicher zu
        gestalten. Die Schule der Zukunft soll sich spannenden Phänomenen
        unserer Lebenswelt ganzheitlich und undogmatisch annähern und versuchen,
        sie individuell und interessensgeleitet zu erschliessen. Meine Rolle als
        Mentor möchte ich mit Empathie und mit dem individuell nötigen Mass an
        Steuerung wahrnehmen, damit ermutigende Lernprozesse und Erfahrungen
        ermöglicht werden.
      </blockquote>
      <ul>
        <li>Real-, Sek- und Berufsschullehrer</li>
        <li>Natur- und Wildnispädagoge i.A.</li>
        <li>
          20 Jahre Unterrichtstätigkeit auf diversen Stufen Projektleiter
          Lernzentrum, Organisator von Klassenlagern und Projektwochen
        </li>
        <li>
          Interessen: Reisen, Naturerlebnisse, Permakultur, gesellschaftliche
          Themen, Männerinitiation
        </li>
      </ul>
    </div>
  </article>
  <article class="mentor">
    <img
      class="mentor__image"
      src="assets/images/jakob.png"
      alt="Jakob schaut in der Kamera"
    />
    <div>
      <h2>Jakob Surbeck</h2>
      <blockquote>
        Freilernen ist für mich die intensive Auseinandersetzung mit einer
        selbstgewählten Aufgabe: ich habe ein Ziel vor Augen, das ich erreichen
        möchte. Ich schaue, was es dazu braucht, eigne mir das nötige Wissen aus
        verschiedensten Quellen an, organisiere das Material und begebe mich auf
        den Weg, das Projekt zu realisieren, immer mit der Offenheit vielleicht
        daran zu scheitern. Das Wichtigste dabei ist, dass es mit Begeisterung
        geschieht. Ich stehe den Lernenden zur Seite, dass sie mit Freude und
        Lust das Wissen in sich aufsaugen können. Gelingt uns dies, stehen uns
        die richtigen Türen des Lebens offen.
      </blockquote>
      <ul>
        <li>Bewegungsschauspieler</li>
        <li>Ausbildung an der Scuola Teatro Dimitri</li>
        <li>Zirkuspädagoge</li>
        <li>Spitalclown</li>
        <li>Vater von zwei freilernenden Jugendlichen</li>
        <li>Begeisterter Handwerker und Bastler</li>
      </ul>
    </div>
  </article>
  <article class="mentor">
    <img
      class="mentor__image"
      src="assets/images/anais.png"
      alt="Anais schaut in der Kamera"
    />
    <div>
      <h2>Anaïs Guillez</h2>
      <blockquote>
        Kinder sind für mich Vorbilder. Sie sind lebendig, kreativ, neugierig
        und wohlwollend. Wie rasch und spontan ein Kind schreiben, lesen und
        rechnen lernt, hat mich schon immer fasziniert. Ich schätze die Kinder
        in ihrer Einzigartigkeit und gehe mit ihnen freudvoll auf
        Entdeckungsreise. Ich sehe meine Aufgabe hauptsächlich darin, sie in
        ihrem Sein und Wirken zu unterstützen. Musik, Bewegung, Kunst,
        Sinneserfahrungen und Erfahrungen in der Gruppe finde ich besonders
        wichtig, Sie sind in der Unterstufe zentral. Je mehr Lernen mit
        positiven Emotionen verbunden wird, desto effizienter ist es. Ein
        singender Start mit den Kindern in den Tag weckt und erwärmt ihre
        Herzen.
      </blockquote>
      <ul>
        <li>Primarschullehrerin (Kiga-6. Schuljahr) seit 13 Jahren</li>
        <li>Zweisprachig deutsch/ französisch</li>
        <li>Mutter von zwei freilernenden Kindern</li>
        <li>Kinesiologie und Coachingkurse</li>
        <li>Wöchentlicher Waldmorgen</li>
        <li>
          Interessen: Singen, Musik, Gestalten, Reisen, Bewusstseinsarbeit
        </li>
      </ul>
    </div>
  </article>
  <p>
    Das Team von Mentorinnen und Mentoren wird dynamisch ergänzt und erweitert.
  </p>
</section>

<section>
  <div class="container">
    <h2>Tarife</h2>
    <p>
      Der Monatsbeitrag für Jugendliche und Gruppe 9-12 Jahre kostet pro Familie
    </p>
    <ul>
      <li>1 Angebot pro Woche: CHF 280.- / Monat</li>
      <li>2 Angebote pro Woche: CHF 520.- / Monat</li>
      <li>3 Angebote pro Woche: CHF 740.- / Monat</li>
      <li>4 Angebote pro Woche: CHF 940.- / Monat</li>
      <li>5 Angebote pro Woche: CHF 1120.- / Monat</li>
    </ul>
    <p>
      Das Angebot 4-8 Jahre kostet CHF 200.- / Monat (montags) <br />
      in Kombination mit andern freilernwerk Angeboten pro Familie:
    </p>
    <ul>
      <li>Bei 2 Angeboten pro Woche CHF 190.- / Monat</li>
      <li>Bei 3 Angeboten pro Woche CHF 180.- / Monat</li>
      <li>Bei 4 Angeboten pro Woche CHF 170.- / Monat</li>
      <li>Bei 5 Angeboten pro Woche CHF 160.- / Monat</li>
    </ul>

    <p>
      Für längere Abwesenheiten durch Praktika, Reisen etc. finden wir
      individuelle Lösungen.
    </p>

    <p>
      Wir kochen freiwillig gemeinsam das Mittagessen. Dafür führen wir eine
      Strichliste und berechnen quartalsweise CHF 5.-/pro Mahlzeit.
    </p>
    <p>
      Die Probezeit beträgt drei Monate mit einer Kündigungsmöglichkeit beider
      Parteien von einem Monat, danach gilt die Kündigungsfrist von 3 Monaten.
      Die Ferien richten sich nach dem Ferienplan der Stadt Bern.
    </p>
  </div>
</section>

<section class="container">
  <h2>Kontakt</h2>
  <p>
    Interessiert ihr euch für das freilernwerk? Dann meldet euch gerne bei uns:
  </p>

  <ul>
    <li>
      Adrian Theilkäs: 079 792 80 41 <br />
      oder
      <a href="mailto:atheilkaes@yahoo.com">atheilkaes@yahoo.com</a>
    </li>
    <li>
      Severin Erni: 079 538 55 41 <br />
      oder
      <a href="mailto:severin.erni@bluewin.ch">severin.erni@bluewin.ch</a>
    </li>
    <li>
      Jakob Surbeck: 078 721 26 14 <br />
      oder <a href="mailto:info@jakobsurbeck.ch">info@jakobsurbeck.ch</a>
    </li>
  </ul>
</section>
